@import url('https://fonts.googleapis.com/css2?family=Jersey+15&family=Tiny5&display=swap');

body {
    background-color: rgb(68, 68, 255);
    font-family: "Jersey 15", sans-serif;
    font-size: larger;
}

h1, h2, h3, nav {
    font-family: "Tiny5", sans-serif;
}

main {
    background-color: aliceblue;
    width: 800px;
    max-width: 95%;
    margin: 0 auto;
}

header,
footer {
    background-color: black;
    color: white;
    padding: 20px;
    text-align: center;
}

nav {
    border-bottom: 2px solid black;
}

nav li {
    padding: 10px;
}

nav a {
    text-decoration: none;
    color: darkblue;
    background-color: lightblue;
    padding: 5px;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
}

nav a:hover {
    color: red;
    background-color: white;
    border-bottom: 1px solid white;
    border-right: 1px solid white;
    border-top: 1px solid black;
    border-left: 1px solid black;
    font-weight: bold;
}

section {
    display: flex;
    padding: 20px;
}

aside {
    display: block;
    border-left: 1px solid black;
    padding: 20px;
}

.centrado {
    display: block;
    margin: 0 auto;
    width: 90%;
}

.adaptable {
    display: block;
    width: 90%;
}

.adaptable2 {
    display: block;
    width: 100%;
    margin: 0 auto;
}

@media screen and (max-width: 600px) {
    header, footer {
        padding: 20px;
    }

    section {
    display: block;
    }
}